* {
    box-sizing: border-box;
}

body {
    color: white;
    font-family: Roboto;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    font-size: 1rem;
}

.dynamic-time {
    margin-bottom: 2vh;
}

#date {
    font-size: 3vw;
}
#time {
    font-size: 5vw;
}

#status {
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2vh;
}
#status-message {
    text-align: center;
    font-size: 3vw;

}
.page-container {
    padding: 20px;
    width: 100vw;
    margin-bottom: 30px;
    display: flex;
}

.bg-1 {
    background: url('../assets/backgrounds/blue.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-2 {
    background: url('../assets/backgrounds/purple.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-3 {
    background: url('../assets/backgrounds/rings.png');
    background-size: cover;
    background-repeat: no-repeat;
}


.section {
    border-right: 0.5vw solid white;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;   
    justify-content: center; 
}

.section:last-child {
    border-right: none;

}

.card {
    width: 90%;
    background: rgba(255, 255, 255, 0.2);
    border: 0.2vw solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(70px);
    margin-top: 1vw;
    height: 10vw;
    font-size: 2.3vw;
    padding: 1vw;
    font-weight: bold;
}

.card.active {
    border: 0.3vw solid rgba(255, 255, 255, 0.8);

}

.card p {
    font-size: 1.6vw;
}